/* .app-main{
    width: 70%;
    height: 100vh;
} */

.buttons{
    /* flex-basis: 15%; */
    width:6%;
    height: 100vh;
    /* padding: 10px; */
    /* margin: 10px; */
    background-color: #dddddd;
}

.textBox {
    /* flex-basis: 15%; */
    width:20%;
    background-color: #f2f2f2;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 0px;
    /* margin: 10px; */
  }

  .canvas1{
    /* width:75%; */
    background-color: rgb(192, 192, 255);
  } 
  /* .canvas-container{
    width:100%;
    background-color: rgb(192, 192, 255);
  } 

  .lower-canvas
  {width:100%;
    background-color: rgb(255, 255, 255);
  }
  
  .upper-canvas
  {width:100%;
    background-color: rgb(255, 255, 255);
  } */


  .example-and-conept{
    display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  }
  .example{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .textexample{
  width: 30%;
  }

  .example-left {
    position: relative;
    width: 50%
  }
  


.image-and-example{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
  .imageexample{
    /* position: relative; */
    z-index: 1; /* Move the content above the background image */
  }
  .textexample{
    /* position: relative; */
    display: flex;
    z-index: 1;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100px; Width of the background image */
    
    /* z-index: -1; Move the background image behind other elements */
  }
  
.concept{
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
}

  .conceptstyle{
    display: block;
    height: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
  }

  /* .color.orientation.metapher.move.contrast:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
} */

.text-box-contents-syle{
  display: block;
  height: 100%;
  padding: 4px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
}