/* .app-main{
    width: 70%;
    height: 100vh;
} */

.buttons{
    /* flex-basis: 15%; */
    width:19%;
    height: 100vh;
    /* padding: 10px; */
    /* margin: 10px; */
    background-color: #dddddd;
}


.textBox {
    /* flex-basis: 15%; */
    width:19%;
    background-color: #dddddd;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 0px;
    /* margin: 10px; */
  }

  .canvas1{
    background-color: rgb(192, 192, 255);
  }

  .example{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .textexample{
  width: 40%;
  }
  .imageexample{
    width:40%
  }

  /* .color.orientation.metapher.move.contrast */
  
  .conceptstyle{
    display: block;
    height: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
  }

  /* .color.orientation.metapher.move.contrast:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
} */

.text-box-contents-syle{
  display: block;
  height: 100%;
  padding: 4px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
}