
.selected {
    /* Styles for the active button */
    background-color: #ff0000;
    color: #fff;
  }

  .Theme-page {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 4fr 4fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    /* grid-auto-flow: row; */
    grid-template-areas:
      "Top Top Top"
      "area1 area2 area3"
      "area4 area5 area6"
      "Bottom Bottom Bottom";
  }
  
  .top-theme { grid-area: Top; }
  
  .bottom-theme { grid-area: Bottom;
        list-style: none;
        margin-right: 0%;
        margin-left: auto; }
  
  .buttons-theme1{ grid-area: area1; }
  .buttons-theme2{ grid-area: area2; }
  .buttons-theme3{ grid-area: area3; }
  .buttons-theme4{ grid-area: area4; }
  .buttons-theme5{ grid-area: area5; }
  .buttons-theme6{ grid-area: area6; }
  