
.selected {
    /* Styles for the active button */
    background-color: #7f7f7f;
    color: #fff;
    font-size: 28px;
    font-family: Roboto;

  }

  .Theme-page {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 4fr 4fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    /* grid-auto-flow: row; */
    grid-template-areas:
      "Top Top Top"
      "area1 area2 area3"
      "area4 area5 area6"
      "Bottom Bottom Bottom";
  }
  
  .top-theme { grid-area: Top; 
    display: flex;
    flex-direction: row;
    align-items: baseline;}

    .theme-selection32{
      font-size: 32px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
    }
    .theme-selection24{
      font-size: 24px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
    }
  
  .bottom-theme { grid-area: Bottom;
        list-style: none;
        margin-right: 0%;
        margin-left: auto; }
    .theme-next{
      font-size: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
    }
  
  .buttons-theme1{ grid-area: area1; }
  .buttons-theme2{ grid-area: area2; }
  .buttons-theme3{ grid-area: area3; }
  .buttons-theme4{ grid-area: area4; }
  .buttons-theme5{ grid-area: area5; }
  .buttons-theme6{ grid-area: area6; }
  